.jumbotron {
  background: url('images/italy-bg.jpg') no-repeat center fixed;
  background-size: cover;
  padding-bottom: 20%;
  margin-bottom: 5%;
}

.jumbo-bottom {
  margin-bottom: 0;
  margin-top: 5%;
}

.jumbo-le {
  background-image: none;
  background-color: #fff;
}

.jumbo-last {
  background: url('images/bg-last.jpg') no-repeat center scroll;
  color: #fff;
  background-size: cover;
}

.navbar {
  transition: all 500ms ease;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, green, #d9d9d9, red);
  border-image-slice: 1;
}

.map {
  height: 2rem;
  width: 2rem;
  margin-right: 10px;
}

body {}

.navbar:hover {
  transition: all 500ms ease;
}

hr {
  background-color: black;
}

.card {
  border-width: 0;
  border-radius: 0%;
  transition: all 500ms ease;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  outline: 4px solid green;
  outline-offset: -3px;
  transition: all 1000ms ease;
  opacity: 0.9;
}

.card-img-top {
  margin-left: 95px;
  height: 10rem;
  width: 10rem;
}

.page-footer-fixed-bottom {
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: #444;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
